In [2]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [24]:
d16=pd.read_csv('raw_data/2016-17.csv').set_index('full_name')
d17=pd.read_csv('raw_data/2017-18.csv').set_index('full_name').drop('now_cost',1)
d18=pd.read_csv('raw_data/2018-19.csv').set_index('full_name').drop('now_cost',1)
d19=pd.read_csv('raw_data/2019-20.csv').set_index('full_name').drop('now_cost',1)

In [25]:
for n in d16.index:
    if n not in d17.index:
        d16.drop(n,0,inplace=True)
        
for n in d17.index:
    if n not in d16.index:
        d17.drop(n,0,inplace=True)

In [26]:
for n in d18.index:
    if n not in d19.index:
        d18.drop(n,0,inplace=True)
        
for n in d19.index:
    if n not in d18.index:
        d19.drop(n,0,inplace=True)

In [27]:
d18.drop('Danny Ward',inplace=True)

In [28]:
d19.drop('Danny Ward',inplace=True)

In [3]:
a=np.array([1,2,3])

In [4]:
3 in a

True

In [29]:
d16.sort_values('full_name',inplace=True)
d17.sort_values('full_name',inplace=True)
d18.sort_values('full_name',inplace=True)
d19.sort_values('full_name',inplace=True)

d16.reset_index(inplace=True)
d17.reset_index(inplace=True)
d18.reset_index(inplace=True)
d19.reset_index(inplace=True)

In [30]:
data1=d16.drop('full_name',1).to_numpy()

In [31]:
labels1=d17['total_points'].to_numpy()
i=0
while i<len(labels1):
    if labels1[i]<100:
        labels1[i]=0
    else:
        labels1[i]=1
    i+=1

In [32]:
train_data=data1
train_labels=labels1

In [33]:
names=d18['full_name'].to_numpy()

In [34]:
data3=d18.drop('full_name',1).to_numpy()

In [35]:
labels3=d19['total_points'].to_numpy()
i=0
while i<len(labels3):
    if labels3[i]<100:
        labels3[i]=0
    else:
        labels3[i]=1
    i+=1

In [36]:
test_data=data3
test_labels=labels3

In [37]:
model = KNeighborsClassifier(n_neighbors=10)

In [38]:
model.fit(train_data, train_labels)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [39]:
predictions = model.predict(test_data)

In [40]:
perc= sum(predictions == test_labels)/len(test_labels)
perc

0.8188235294117647

In [41]:
results=pd.DataFrame()

In [42]:
results['name']=names
results['actual']=test_labels
results['predicted']=predictions

In [43]:
results

                                   name  actual  predicted
0                       Aaron Cresswell       0          0
1                          Aaron Lennon       0          0
2                            Aaron Mooy       0          0
3                     Aaron Wan-Bissaka       1          0
4    Abd-Al-Ali Morakinyo Olaposi Koiki       0          0
..                                  ...     ...        ...
420                      Yoshinori Muto       0          0
421                     Youri Tielemans       1          0
422                       Yves Bissouma       0          0
423                         Zech Medley       0          0
424                      Çaglar Söyüncü       1          0

[425 rows x 3 columns]

In [45]:
li=[]
for i in results.index:
    if results['predicted'][i]==1 and results['predicted'][i]== results['actual'][i]:
        li.append(results['name'][i])

In [51]:
final=pd.DataFrame()

In [57]:
for i in d19.index:
    if d19['full_name'][i] in li:
        final.append(d19.loc[i])

In [58]:
final

,19,48,61,62,66,105,182,189,298,332,337,341,362,396,397,410
full_name,Alexandre Lacazette,Ayoze Pérez,Bernardo Mota Veiga de Carvalho e Silva,Bernd Leno,Callum Wilson,David Silva,James Maddison,Jamie Vardy,Mohamed Salah,Pierre-Emerick Aubameyang,Raheem Sterling,Richarlison de Andrade,Sadio Mané,Trent Alexander-Arnold,Troy Deeney,Wilfried Zaha
goals_scored,10,8,6,0,8,6,6,23,19,22,20,13,18,4,10,4
assists,7,5,7,0,6,12,5,7,10,5,6,5,10,15,2,6
total_points,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
minutes,1867,1998,2021,2649,2906,1821,2624,3032,2879,3136,2651,3070,2745,3173,2224,3279
goals_conceded,25,25,24,39,53,15,26,38,26,44,31,51,28,32,39,46
creativity,337.7,443.9,773.2,0,391.1,735.8,1246.4,418.4,834.8,479.6,751.3,478.1,826.6,1380.3,378.5,588
influence,536.4,547.4,626.2,843.2,397.4,639.6,642.4,1026,1061.2,1006,921.6,814.6,1010.2,1026.8,536,572
threat,861,779,927,0,848,937,702,1455,2156,1369,1829,1233,1239,420,801,1103
bonus,16,9,7,10,8,15,14,34,26,37,20,13,27,24,15,4
bps,387,402,526,591,321,549,548,775,661,807,642,519,689,904,403,337
ict_index,173.8,177.3,232.5,84.1,162.6,231.2,259.2,288.8,405.1,285.2,350.2,252.3,307.7,282.8,171.4,226.4
clean_sheets,5,9,9,7,4,11,10,11,16,10,13,9,12,14,6,9
red_cards,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
yellow_cards,8,0,5,2,9,0,4,3,1,3,5,8,3,5,3,5
selected_by_percent,2.4,5,8.1,4.2,4.2,9.1,12.1,27.2,32.4,22.4,23.2,9.2,19.7,39.1,1.7,8.4