In [66]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [67]:
d16=pd.read_csv('../raw_data/2016-17.csv').set_index('full_name')
d17=pd.read_csv('../raw_data/2017-18.csv').set_index('full_name').drop('now_cost',1)
d18=pd.read_csv('../raw_data/2018-19.csv').set_index('full_name').drop('now_cost',1)
d19=pd.read_csv('../raw_data/2019-20.csv').set_index('full_name').drop('now_cost',1)

In [68]:
for n in d16.index:
    if n not in d17.index:
        d16.drop(n,0,inplace=True)
        
for n in d17.index:
    if n not in d16.index:
        d17.drop(n,0,inplace=True)

In [69]:
for n in d18.index:
    if n not in d19.index:
        d18.drop(n,0,inplace=True)
        
for n in d19.index:
    if n not in d18.index:
        d19.drop(n,0,inplace=True)

In [70]:
d18.drop('Danny Ward',inplace=True)

In [71]:
d19.drop('Danny Ward',inplace=True)

In [72]:
a=np.array([1,2,3])

In [73]:
3 in a

True

In [74]:
d16.sort_values('full_name',inplace=True)
d17.sort_values('full_name',inplace=True)
d18.sort_values('full_name',inplace=True)
d19.sort_values('full_name',inplace=True)

d16.reset_index(inplace=True)
d17.reset_index(inplace=True)
d18.reset_index(inplace=True)
d19.reset_index(inplace=True)

In [75]:
data1=d16.drop('full_name',1).to_numpy()

In [76]:
labels1=d17['total_points'].to_numpy()
i=0
while i<len(labels1):
    if labels1[i]<50:
        labels1[i]=0
    else:
        labels1[i]=1
    i+=1

In [77]:
train_data=data1
train_labels=labels1

In [78]:
names=d18['full_name'].to_numpy()

In [79]:
data3=d18.drop('full_name',1).to_numpy()

In [80]:
labels3=d19['total_points'].to_numpy()
i=0
while i<len(labels3):
    if labels3[i]<50:
        labels3[i]=0
    else:
        labels3[i]=1
    i+=1

In [81]:
test_data=data3
test_labels=labels3

In [82]:
model = KNeighborsClassifier(n_neighbors=12,weights='distance')

In [83]:
model.fit(train_data, train_labels)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=12, p=2,
                     weights='distance')

In [84]:
predictions = model.predict(test_data)

In [85]:
perc= sum(predictions == test_labels)/len(test_labels)
perc

0.7129411764705882

In [86]:
i=0
number=0
right=0
bad=0
while i< len(predictions):
    if test_labels[i]==1:
        number+=1
        if predictions[i]==1:
            right+=1
    
    if test_labels[i]==0 and predictions[i]==1:
        bad+=1
        
    i+=1
        
        
print("b:{} r:{} n:{}".format(bad,right,number))

b:62 r:145 n:205

In [87]:
number

205

In [88]:
right

145

In [89]:
results=pd.DataFrame()

In [90]:
results['name']=names
results['actual']=test_labels
results['predicted']=predictions

In [91]:
results

                                   name  actual  predicted
0                       Aaron Cresswell       1          0
1                          Aaron Lennon       0          0
2                            Aaron Mooy       1          1
3                     Aaron Wan-Bissaka       1          1
4    Abd-Al-Ali Morakinyo Olaposi Koiki       0          0
..                                  ...     ...        ...
420                      Yoshinori Muto       0          0
421                     Youri Tielemans       1          1
422                       Yves Bissouma       0          0
423                         Zech Medley       0          0
424                      Çaglar Söyüncü       1          0

[425 rows x 3 columns]

In [92]:
li=[]
for i in results.index:
    if results['predicted'][i]==1 and results['predicted'][i]== results['actual'][i]:
        li.append(results['name'][i])

In [93]:
final=pd.DataFrame()

In [94]:
for i in d19.index:
    if d19['full_name'][i] in li:
        final.append(d19.loc[i])

In [95]:
final

Empty DataFrame
Columns: []
Index: []

In [96]:
model = SVC()
model.fit(train_data, train_labels)
predictions = model.predict(test_data)

In [97]:
i=0
number=0
right=0
bad=0
while i< len(predictions):
    if test_labels[i]==1:
        number+=1
        if predictions[i]==1:
            right+=1
    
    if test_labels[i]==0 and predictions[i]==1:
        bad+=1
        
    i+=1
        
        
print("b:{} r:{} n:{}".format(bad,right,number))

b:74 r:165 n:205