In [484]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [485]:
d16=pd.read_csv('../raw_data/2016-17.csv').set_index('full_name')
d17=pd.read_csv('../raw_data/2017-18.csv').set_index('full_name').drop('now_cost',1)
d18=pd.read_csv('../raw_data/2018-19.csv').set_index('full_name').drop('now_cost',1)
d19=pd.read_csv('../raw_data/2019-20.csv').set_index('full_name').drop('now_cost',1)

In [486]:
for n in d16.index:
    if n not in d17.index:
        d16.drop(n,0,inplace=True)
        
for n in d17.index:
    if n not in d16.index:
        d17.drop(n,0,inplace=True)

In [487]:
for n in d18.index:
    if n not in d19.index:
        d18.drop(n,0,inplace=True)
        
for n in d19.index:
    if n not in d18.index:
        d19.drop(n,0,inplace=True)

In [488]:
d18.drop('Danny Ward',inplace=True)

In [489]:
d19.drop('Danny Ward',inplace=True)

In [490]:
a=np.array([1,2,3])

In [491]:
3 in a

True

In [492]:
d16.sort_values('full_name',inplace=True)
d17.sort_values('full_name',inplace=True)
d18.sort_values('full_name',inplace=True)
d19.sort_values('full_name',inplace=True)

d16.reset_index(inplace=True)
d17.reset_index(inplace=True)
d18.reset_index(inplace=True)
d19.reset_index(inplace=True)

In [493]:
data1=d16.drop('full_name',1).to_numpy()

In [494]:
labels1=d17['total_points'].to_numpy()
i=0
while i<len(labels1):
    if labels1[i]<110:
        labels1[i]=0
    else:
        labels1[i]=1
    i+=1

In [495]:
train_data=data1
train_labels=labels1

In [496]:
names=d18['full_name'].to_numpy()

In [497]:
data3=d18.drop('full_name',1).to_numpy()

In [498]:
labels3=d19['total_points'].to_numpy()
i=0
while i<len(labels3):
    if labels3[i]<110:
        labels3[i]=0
    else:
        labels3[i]=1
    i+=1

In [499]:
test_data=data3
test_labels=labels3

In [500]:
model = KNeighborsClassifier(n_neighbors=12,weights='distance')

In [501]:
model.fit(train_data, train_labels)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=12, p=2,
                     weights='distance')

In [502]:
predictions = model.predict(test_data)

In [503]:
perc= sum(predictions == test_labels)/len(test_labels)
perc

0.8611764705882353

In [504]:
i=0
number=0
right=0
bad=0
while i< len(predictions):
    if test_labels[i]==1:
        number+=1
        if predictions[i]==1:
            right+=1
    
    if test_labels[i]==0 and predictions[i]==1:
        bad+=1
        
    i+=1
        
        
bad

7

In [505]:
number

72

In [506]:
right

20

In [507]:
results=pd.DataFrame()

In [508]:
results['name']=names
results['actual']=test_labels
results['predicted']=predictions

In [481]:
results

                                   name  actual  predicted
0                       Aaron Cresswell       0          0
1                          Aaron Lennon       0          0
2                            Aaron Mooy       0          0
3                     Aaron Wan-Bissaka       0          0
4    Abd-Al-Ali Morakinyo Olaposi Koiki       0          0
..                                  ...     ...        ...
420                      Yoshinori Muto       0          0
421                     Youri Tielemans       0          0
422                       Yves Bissouma       0          0
423                         Zech Medley       0          0
424                      Çaglar Söyüncü       0          0

[425 rows x 3 columns]

In [482]:
li=[]
for i in results.index:
    if results['predicted'][i]==1 and results['predicted'][i]== results['actual'][i]:
        li.append(results['name'][i])

In [483]:
final=pd.DataFrame()

In [426]:
for i in d19.index:
    if d19['full_name'][i] in li:
        final.append(d19.loc[i])

In [427]:
final

Empty DataFrame
Columns: []
Index: []